In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import geopandas as gpd

import statsmodels.formula.api as smf
import statsmodels

# read in data

In [2]:
url  = 'http://data.insideairbnb.com/united-kingdom/england/london/2022-09-10/data/listings.csv.gz'
airbnb_origin2022 = pd.read_csv(url, compression='gzip', low_memory=False)
airbnb_origin2022.info() #check data type, the first three columns are redundant information.
airbnb_origin2022.head()
print(f"Data frame is {airbnb_origin2022.shape[0]:,} x {airbnb_origin2022.shape[1]}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69351 entries, 0 to 69350
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            69351 non-null  int64
 1   listing_url                                   69351 non-null  object
 2   scrape_id                                     69351 non-null  int64
 3   last_scraped                                  69351 non-null  object
 4   source                                        69351 non-null  object
 5   name                                          69330 non-null  object
 6   description                                   67832 non-null  object
 7   neighborhood_overview                         39964 non-null  object
 8   picture_url                                   69351 non-null  object
 9   host_id                                       69351 non-null  int64
 10  host_url                                      69351 non-null  object
 11  host_name                                     69346 non-null  object
 12  host_since                                    69346 non-null  object
 13  host_location                                 56984 non-null  object
 14  host_about                                    36946 non-null  object
 15  host_response_time                            42830 non-null  object
 16  host_response_rate                            42830 non-null  object
 17  host_acceptance_rate                          45090 non-null  object
 18  host_is_superhost                             69332 non-null  object
 19  host_thumbnail_url                            69346 non-null  object
 20  host_picture_url                              69346 non-null  object
 21  host_neighbourhood                            43597 non-null  object
 22  host_listings_count                           69346 non-null  float64
 23  host_total_listings_count                     69346 non-null  float64
 24  host_verifications                            69351 non-null  object
 25  host_has_profile_pic                          69346 non-null  object
 26  host_identity_verified                        69346 non-null  object
 27  neighbourhood                                 39965 non-null  object
 28  neighbourhood_cleansed                        69351 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      69351 non-null  float64
 31  longitude                                     69351 non-null  float64
 32  property_type                                 69351 non-null  object
 33  room_type                                     69351 non-null  object
 34  accommodates                                  69351 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                69220 non-null  object
 37  bedrooms                                      65922 non-null  float64
 38  beds                                          68151 non-null  float64
 39  amenities                                     69351 non-null  object
 40  price                                         69351 non-null  object
 41  minimum_nights                                69351 non-null  int64
 42  maximum_nights                                69351 non-null  int64
 43  minimum_minimum_nights                        69348 non-null  float64
 44  maximum_minimum_nights                        69348 non-null  float64
 45  minimum_maximum_nights                        69348 non-null  float64
 46  maximum_maximum_nights                        69348 non-null  float64
 47  minimum_nights_avg_ntm                        69348 non-null  float64
 48  maximum_nights_avg_ntm                        69348 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              69351 non-null  object
 51  availability_30                               69351 non-null  int64
 52  availability_60                               69351 non-null  int64
 53  availability_90                               69351 non-null  int64
 54  availability_365                              69351 non-null  int64
 55  calendar_last_scraped                         69351 non-null  object
 56  number_of_reviews                             69351 non-null  int64
 57  number_of_reviews_ltm                         69351 non-null  int64
 58  number_of_reviews_l30d                        69351 non-null  int64
 59  first_review                                  52571 non-null  object
 60  last_review                                   52571 non-null  object
 61  review_scores_rating                          52571 non-null  float64
 62  review_scores_accuracy                        51549 non-null  float64
 63  review_scores_cleanliness                     51562 non-null  float64
 64  review_scores_checkin                         51515 non-null  float64
 65  review_scores_communication                   51548 non-null  float64
 66  review_scores_location                        51517 non-null  float64
 67  review_scores_value                           51514 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              69351 non-null  object
 70  calculated_host_listings_count                69351 non-null  int64
 71  calculated_host_listings_count_entire_homes   69351 non-null  int64
 72  calculated_host_listings_count_private_rooms  69351 non-null  int64
 73  calculated_host_listings_count_shared_rooms   69351 non-null  int64
 74  reviews_per_month                             52571 non-null  float64
dtypes: float64(24), int64(17), object(34)
memory usage: 39.7+ MB
Data frame is 69,351 x 75

# clean names

In [4]:
# This function will clean up column names in a data frame
# credit by https://gist.github.com/burkesquires/75aeebf4554e9fa427d14354d7fe048c
def clean_dataframe_column_names(df):
    cols = df.columns
    new_column_names = []

    for col in cols:
        new_col = col.lstrip().rstrip().lower().replace (" ", "_") #strip beginning spaces, makes lowercase, add underscore
        new_column_names.append(new_col)

    df.columns = new_column_names

In [5]:
clean_dataframe_column_names(airbnb_origin2022)

In [7]:
airbnb2022 = airbnb_origin2022[['id','host_id','host_listings_count','latitude','longitude','room_type','availability_365','neighbourhood_cleansed','price']
         ]
#rename the columns (orginal is too complex)
cols = airbnb2022.columns.values
airbnb2022.columns = cols

In [8]:
airbnb2022

,id,host_id,host_listings_count,latitude,longitude,room_type,availability_365,neighbourhood_cleansed,price
0,13913,54730,3.0,51.56861,-0.11270,Private room,343,Islington,$50.00
1,15400,60302,1.0,51.48780,-0.16813,Entire home/apt,70,Kensington and Chelsea,$75.00
2,284532,1481412,1.0,51.52851,-0.07426,Entire home/apt,222,Tower Hamlets,$90.00
3,106332,264345,2.0,51.52874,-0.05396,Private room,74,Tower Hamlets,$55.00
4,17402,67564,6.0,51.52195,-0.14094,Entire home/apt,249,Westminster,$379.00
...,...,...,...,...,...,...,...,...,...
69346,9671724,49977905,15.0,51.48300,-0.01346,Private room,0,Greenwich,$55.00
69347,20277958,1132775,1.0,51.50914,-0.10192,Entire home/apt,0,Southwark,$201.00
69348,20512703,1706966,1.0,51.40571,-0.35325,Entire home/apt,4,Richmond upon Thames,$246.00
69349,49698549,34213667,1.0,51.41029,-0.35975,Entire home/apt,2,Richmond upon Thames,$250.00
69350,554172169432589107,402191311,953.0,51.50183,0.00862,Entire home/apt,85,Greenwich,$134.00