In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import statsmodels.formula.api as smf
import statsmodels

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

# read in data

In [5]:
airbnb_origin2022 = pd.read_csv('listings.csv')
airbnb_origin2022.info() #check data type, the first three columns are redundant information.
airbnb_origin2022.head()

/tmp/ipykernel_911/575434403.py:1: DtypeWarning: Columns (0,2,22,41,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb_origin2022 = pd.read_csv('listings.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69358 entries, 0 to 69357
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            69354 non-null  object
 1   listing_url                                   69357 non-null  object
 2   scrape_id                                     69357 non-null  object
 3   last_scraped                                  69357 non-null  object
 4   source                                        69358 non-null  object
 5   name                                          69337 non-null  object
 6   description                                   67839 non-null  object
 7   neighborhood_overview                         39966 non-null  object
 8   picture_url                                   69358 non-null  object
 9   host_id                                       69358 non-null  float64
 10  host_url                                      69358 non-null  object
 11  host_name                                     69353 non-null  object
 12  host_since                                    69353 non-null  object
 13  host_location                                 56987 non-null  object
 14  host_about                                    36953 non-null  object
 15  host_response_time                            42824 non-null  object
 16  host_response_rate                            42831 non-null  object
 17  host_acceptance_rate                          45091 non-null  object
 18  host_is_superhost                             69332 non-null  object
 19  host_thumbnail_url                            69346 non-null  object
 20  host_picture_url                              69346 non-null  object
 21  host_neighbourhood                            43595 non-null  object
 22  host_listings_count                           69346 non-null  object
 23  host_total_listings_count                     69345 non-null  float64
 24  host_verifications                            69351 non-null  object
 25  host_has_profile_pic                          69346 non-null  object
 26  host_identity_verified                        69346 non-null  object
 27  neighbourhood                                 39969 non-null  object
 28  neighbourhood_cleansed                        69351 non-null  object
 29  neighbourhood_group_cleansed                  7 non-null      float64
 30  latitude                                      69351 non-null  float64
 31  longitude                                     69351 non-null  float64
 32  property_type                                 69351 non-null  object
 33  room_type                                     69351 non-null  object
 34  accommodates                                  69351 non-null  float64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                69220 non-null  object
 37  bedrooms                                      65923 non-null  float64
 38  beds                                          68151 non-null  float64
 39  amenities                                     69351 non-null  object
 40  price                                         69351 non-null  object
 41  minimum_nights                                69351 non-null  object
 42  maximum_nights                                69351 non-null  float64
 43  minimum_minimum_nights                        69348 non-null  float64
 44  maximum_minimum_nights                        69348 non-null  float64
 45  minimum_maximum_nights                        69346 non-null  object
 46  maximum_maximum_nights                        69346 non-null  object
 47  minimum_nights_avg_ntm                        69346 non-null  float64
 48  maximum_nights_avg_ntm                        69346 non-null  float64
 49  calendar_updated                              5 non-null      float64
 50  has_availability                              69349 non-null  object
 51  availability_30                               69349 non-null  float64
 52  availability_60                               69349 non-null  float64
 53  availability_90                               69349 non-null  float64
 54  availability_365                              69344 non-null  float64
 55  calendar_last_scraped                         69351 non-null  object
 56  number_of_reviews                             69351 non-null  float64
 57  number_of_reviews_ltm                         69351 non-null  float64
 58  number_of_reviews_l30d                        69351 non-null  float64
 59  first_review                                  52573 non-null  object
 60  last_review                                   52571 non-null  object
 61  review_scores_rating                          52566 non-null  float64
 62  review_scores_accuracy                        51544 non-null  float64
 63  review_scores_cleanliness                     51557 non-null  float64
 64  review_scores_checkin                         51510 non-null  float64
 65  review_scores_communication                   51543 non-null  float64
 66  review_scores_location                        51512 non-null  float64
 67  review_scores_value                           51509 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              69344 non-null  object
 70  calculated_host_listings_count                69344 non-null  float64
 71  calculated_host_listings_count_entire_homes   69344 non-null  float64
 72  calculated_host_listings_count_private_rooms  69344 non-null  float64
 73  calculated_host_listings_count_shared_rooms   69344 non-null  float64
 74  reviews_per_month                             52566 non-null  float64
dtypes: float64(35), object(40)
memory usage: 39.7+ MB

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,13913,https://www.airbnb.com/rooms/13913,20220910194334,2022-09-11,city scrape,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,https://a0.muscache.com/pictures/miso/Hosting-...,54730.0,...,4.93,4.75,4.82,NaN,f,2.0,1.0,1.0,0.0,0.20
1,15400,https://www.airbnb.com/rooms/15400,20220910194334,2022-09-11,city scrape,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,https://a0.muscache.com/pictures/428392/462d26...,60302.0,...,4.82,4.93,4.73,NaN,f,1.0,1.0,0.0,0.0,0.57
2,284532,https://www.airbnb.com/rooms/284532,20220910194334,2022-09-11,city scrape,COSY STUDIO-FLAT WITH A GREAT VIEW,My very RECENTLY RENOVATED flat is located in ...,Shoreditch is simply the coolest area in London!,https://a0.muscache.com/pictures/2932872/00037...,1481412.0,...,4.86,4.72,4.31,NaN,f,1.0,1.0,0.0,0.0,0.34
3,106332,https://www.airbnb.com/rooms/106332,20220910194334,2022-09-11,city scrape,"Lovely large room, Bethnal Green",Lovely characterful room in a house belonging ...,NaN,https://a0.muscache.com/pictures/82437180/20b7...,264345.0,...,4.93,4.92,4.83,NaN,f,1.0,0.0,1.0,0.0,0.47
4,17402,https://www.airbnb.com/rooms/17402,20220910194334,2022-09-11,city scrape,Superb 3-Bed/2 Bath & Wifi: Trendy W1,You'll have a wonderful stay in this superb mo...,"Location, location, location! You won't find b...",https://a0.muscache.com/pictures/39d5309d-fba7...,67564.0,...,4.69,4.88,4.59,NaN,f,5.0,5.0,0.0,0.0,0.36

# clean data namess

In [4]:
# This function will clean up column names in a data frame
# credit by https://gist.github.com/burkesquires/75aeebf4554e9fa427d14354d7fe048c
def clean_dataframe_column_names(df):
    cols = df.columns
    new_column_names = []

    for col in cols:
        new_col = col.lstrip().rstrip().lower().replace (" ", "_") #strip beginning spaces, makes lowercase, add underscore
        new_column_names.append(new_col)

    df.columns = new_column_names

In [5]:
clean_dataframe_column_names(airbnb_origin2022)

In [7]:
airbnb2022 = airbnb_origin2022[['id','host_id','host_listings_count','latitude','longitude','room_type','availability_365','neighbourhood_cleansed','price']
         ]
#rename the columns (orginal is too complex)
cols = airbnb2022.columns.values
airbnb2022.columns = cols

In [8]:
airbnb2022

,id,host_id,host_listings_count,latitude,longitude,room_type,availability_365,neighbourhood_cleansed,price
0,13913,54730,3.0,51.56861,-0.11270,Private room,343,Islington,$50.00
1,15400,60302,1.0,51.48780,-0.16813,Entire home/apt,70,Kensington and Chelsea,$75.00
2,284532,1481412,1.0,51.52851,-0.07426,Entire home/apt,222,Tower Hamlets,$90.00
3,106332,264345,2.0,51.52874,-0.05396,Private room,74,Tower Hamlets,$55.00
4,17402,67564,6.0,51.52195,-0.14094,Entire home/apt,249,Westminster,$379.00
...,...,...,...,...,...,...,...,...,...
69346,9671724,49977905,15.0,51.48300,-0.01346,Private room,0,Greenwich,$55.00
69347,20277958,1132775,1.0,51.50914,-0.10192,Entire home/apt,0,Southwark,$201.00
69348,20512703,1706966,1.0,51.40571,-0.35325,Entire home/apt,4,Richmond upon Thames,$246.00
69349,49698549,34213667,1.0,51.41029,-0.35975,Entire home/apt,2,Richmond upon Thames,$250.00
69350,554172169432589107,402191311,953.0,51.50183,0.00862,Entire home/apt,85,Greenwich,$134.00